<div id="header">
  <div class="container">
    <!-- Navbar ================================================== -->
    <div id="logoArea" class="navbar">
      <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-inner">
        <a class="brand" href="index.html">
          <img src="themes/images/logo.png" alt="Bootsshop" />
        </a>
        
          <input id="srchFld" class="srchTxt" type="text" />
          <select class="srchTxt">
            <option>All</option>
            <option>CLOTHES </option>
            <option>FOOD AND BEVERAGES </option>
            <option>HEALTH & BEAUTY </option>
            <option>SPORTS & LEISURE </option>
            <option>BOOKS & ENTERTAINMENTS </option>
          </select>
          <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
       
        <ul id="topMenu" class="nav pull-right">
          <li class="">
            <a href="#" routerLink="/bar/home">Home</a>
          </li>
          <li class="">
            <a href="#" routerLink="/bar/detail">Detail</a>
          </li>
          <li class="">
            <a href="contact.html">Contact</a>
          </li>
          <li class="">
            <a href="javascript:void(0)" role="button" data-toggle="modal" style="padding-right:0">
              <span *ngIf="!isUserLoggedIn" class="btn btn-large btn-success" (click)="showLoginScreen();">Login</span>
              <span *ngIf="isUserLoggedIn" class="btn btn-large btn-success" (click)="Logout();">Logout</span>
            </a>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>